@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');


:root {
  --primary-dark: #1F2937;
  --primary-green: #6EE7B7;
}

body {
  background-color: var(--primary-dark);
  color: var(--primary-green);
  font-family: 'Architects Daughter', cursive;
}

h1 {
  text-align: center;
  margin: 2rem;
}

.container {
  width: 300px;
  margin: auto;
}

input,
label {
  display: block;
}

input {
  margin-bottom: 0.5rem;
  width: 100%;
}

#check-number {
  display: block;
  margin-top: 1rem;
  margin: auto;
  background: transparent;
  color: var(--primary-green);
  border-color: var(--primary-green);
  border-width: medium;
  padding: 0.5rem;
  border-radius: 0.3rem;
}

footer {
  margin-left: 25rem;
  position: absolute;
  bottom: 0;
}